body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}
/* Sidebar */
.sidebar {
    width: 300px;
    background-color: black;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    background: black;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

.sidebar ul li a:hover {
    background: #1ABC9C;
}.h1{
    text-align: left;
}
.main-content {
    margin-left: 160px;
    margin-bottom:100px;
    padding: 10px;
    width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
form input, form textarea, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    background: black;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}

form button:hover {
    background: #16A085;
}

/* Events List */
table {
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #bdc3c7;
    padding: 10px;
    text-align: center;
}

th {
    background: black;
    color: white;
}

.add-user-btn, .edit-user-btn{
    position: fixed;
    bottom: 50px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}
.add-user-btn{
    right: 50px;
    background: black;
}
.add-user-btn:hover {
    background: #16A085;
}
.edit-user-btn{
    right: 120px;
    background: black;
}
.edit-user-btn:hover{
    background: #16A085;

}
/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.858);;;
    padding:20px;
    margin-left: 120px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

/* Modal Overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Active Modal */
.modal.active, .modal-overlay.active {
    display: block;
}